// BACKGROUNDS
$main-bg: #FAFAFA;
$s-main-bg: #FFF;
$nav-bg: #F7F8FA;
$green-bg: #34CAA5;
// BORDERS
$nav-border-color: #EBECF2;
$cont-border-color: #EDF2F7;
$chart-icon-border: #E6E6E6;
$surplus-bg: #34CAA51F;
$deficit-bg: #ED544E1F;
// FONTS
$fade-color: #9CA4AB;
$main-color: #26282C;
$white-color: #FFF;
$data-grey: #898989;
$surplus-font: #34CAA5;
$deficit-font: #ED544E;




$dark-bg: #303030;
$dark-s-bg: #212121;