@import "../../styles/variables.scss";

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
    font-weight: 500;
    color: $fade-color;
    position: fixed;
    bottom: 0;
    width: calc(100% - 80px);
    left: 80px;
    border-top: 1px solid $nav-border-color;
    background-color: $main-bg;
}


@media screen and (max-width: 915px) {
    footer {
        width: 100vw;
        left: 0;
    }
}

@media screen and (max-width: 477px) {
    footer {
        div {
            &:first-child {
                display: none;
            }
        }
    }
}